@import "./variables";

.about__page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $neutral-lightest;
  padding: 10rem 5% 2rem 5%;
  margin: 0 0 3rem 0;

  .about_pics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 16px;
    width: 100%;
    margin-bottom: 30px;

    // Make the image container responsive for smaller screens
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 12px;
    }
  }

  .heading {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;

    .header__box {
      width: 442px;
      height: 72px;
      text-align: center;
      position: relative;

      h2 {
        font-size: 32px;
        color: #333333;
        margin-top: 1rem;
        font-family: "Merriweather", serif;
        font-weight: 700;
        line-height: normal;
      }
    }

    // Adjust heading for smaller screens
    @media (max-width: 768px) {
      .header__box h2 {
        font-size: 24px;
      }
    }

    @media (max-width: 480px) {
      .header__box h2 {
        font-size: 20px;
      }
    }
  }

  .miss__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;

    .left__text, .right__text {
      flex: 1 1;
      padding-left: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h2 {
        font-size: 32px;
        margin-top: 1rem;
        font-family: "Merriweather", serif;
      }

      p {
        line-height: 1.6;
        color: #666666;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        text-align: justify;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        line-height: 32px;
      }
    }

    // Adjust text container for smaller screens
    @media (max-width: 1024px) {
      flex-direction: column;
      text-align: center;

      .left__text, .right__text {
        padding-left: 0;
        width: 100%;
        h2 {
          font-size: 28px;
        }
        p {
          font-size: 18px;
        }
      }
    }

    @media (max-width: 768px) {
      .left__text, .right__text {
        p {
          font-size: 16px;
        }
      }
    }
  }

  .we_do {
    margin-bottom: 4rem;

    .header__box {
      width: 442px;
      height: 72px;
      text-align: center;
      margin-bottom: 3rem;
      position: relative;

      h2 {
        font-size: 32px;
      }
    }

    .boxes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 80px;
      width: 100%;
      justify-items: center;

      .box {
        padding: 60px;
        background: #fafafa;

        h3 {
          font-size: 24px;
          color: #666;
        }

        p {
          font-size: 20px;
        }
      }

      // Adjust grid for smaller screens
      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        gap: 40px;

        .box {
          padding: 40px;
          h3 {
            font-size: 20px;
          }
          p {
            font-size: 18px;
          }
        }
      }

      @media (max-width: 768px) {
        .box {
          padding: 60px!important;
          h3 {
            font-size: 18px;
          }
          p {
            font-size: 16px;
          }
        }
      }

      @media (max-width: 480px) {
        .box {
          //padding: 16px;
          width: 300px;
          h3 {
            font-size: 16px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  .objectives {
    display: flex;
    flex-direction: column;
    padding-left: 2%;

    .header__box {
      width: 442px;
      height: 72px;
      text-align: center;
      position: relative;

      h2 {
        font-size: 32px;
      }
    }

    .list {
      display: flex;
      flex-direction: column;

      p {
        margin: 1rem 0;
        font-size: 24px;
      }

      ol {
        display: flex;
        flex-direction: column;
        gap: 7px;

        li {
          font-size: 24px;
        }
      }
    }

    // Adjust objectives for smaller screens
    @media (max-width: 768px) {
      .header__box h2 {
        font-size: 28px;
      }

      .list p, .list li {
        font-size: 20px;
      }
    }

    @media (max-width: 480px) {
      padding: 0 3%;

      .about__page {
        padding: 10rem 5% 2rem 5%!important;
      }
      .header__box h2 {
        font-size: 20px;
      }

      .list p {
        padding: 0% 3rem;
      }

       .list ol {
         padding: 0% 3rem;
       }

       .list li {
        font-size: 18px!important;
      }
    }
  }
}
