@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import '../styles//variables'; // Import color variables

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global styles
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400; /* Default weight */
  font-style: normal; /* Default style */
  background-color: #fff;
  line-height: 1.6;
}


// Utility classes
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}
/*
// Section styling
section#notes {
  height: 70vh;
  background-color: $secondary;

  @include tablet {
    height: 100vh;
    margin-top: 30rem;
  }
}

section#testimonials {
  @include tablet {
    margin-top: 30rem;
  }

  .testimonials-container {
    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }
}
*/

