@import "./variables";

.contact__page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $neutral-lightest;
  padding: 10rem 5% 2rem 5%; // increased padding for better spacing
  margin: 0 0 3rem 0;

  .contact__bg {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/contact-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(50%);
  }

  .mail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: flex-start;
    margin: 5rem 0 3rem 0;

    h2 {
      color: #333;
      font-family: "Merriweather", serif;
      font-size: 32px;
      font-weight: 700;
    }

    .input__field {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .name__fields,
      .contact__fields {
        display: flex;
        gap: 16px;

        input {
          flex: 1;
          padding: 12px;
          font-size: 16px;
          border: 1px solid #a5b7e5;
          border-radius: 4px;
          &:focus {
            border-color: #ffae43;
            outline: none;
          }
        }
      }

      textarea {
        padding: 12px;
        font-size: 16px;
        border: 1px solid #a5b7e5;
        border-radius: 4px;
        height: 150px;
        resize: none;
        &:focus {
          border-color: #ffae43;
          outline: none;
        }
      }

      button {
        width: 400px;
        background-color: #ffae43;
        color: white;
        padding: 12px 24px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        color: #333;
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 30px;
        &:hover {
          background-color: #e59432;
        }
      }
    }
  }

  .contact__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    margin: 2rem 0 3rem 0;

    .contact__head h2 {
      color: #333;
      font-family: "Merriweather", serif;
      font-size: 32px;
      font-weight: 700;
    }

    .contact__icons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      width: 100%;
      justify-items: flex-start;

      .box {
        width: 400px;
        height: 52px;
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 8px;
          background: #bbc9ec;
        }
        div {
          display: flex;
          flex-direction: column;
          h3 {
            color: #333;
            font-family: "Roboto", sans-serif;
            font-size: 20px;
            font-weight: 500;
          }
          p {
            color: #333;
            font-family: "Roboto", sans-serif;
            font-size: 18px;
          }
        }
      }
    }

    .map {
      width: 100%;
      height: 60vh;
    }
  }

  // Media Queries for Responsiveness
  @media (max-width: 1024px) {
    .mail, .contact__info {
      width: 90%;
    }

    .mail h2 {
      font-size: 28px;
    }

    .input__field button {
      width: 100%;
    }

    .contact__icons {
      grid-template-columns: 1fr; // Stacks boxes on smaller screens
    }
  }

  @media (max-width: 768px) {
    padding: 8rem 4% 2rem 4%;

    .mail {
      margin: 4rem 0 2rem 0;
    }

    .mail h2, .contact__info .contact__head h2 {
      font-size: 24px;
    }

    .input__field button {
      font-size: 20px;
    }

    .contact__icons .box {
      width: 100%;
    }

    .map {
      height: 50vh;
    }
  }

  @media (max-width: 576px) {
    padding: 6rem 3% 2rem 3%;

    .mail h2, .contact__info .contact__head h2 {
      font-size: 20px;
    }

    .input__field button {
      font-size: 18px;
      width: 100%!important;
    }

    .contact__icons .box {
      gap: 8px;
    }

    .contact__icons .box div h3, .contact__icons .box div p {
      font-size: 16px;
    }

    .map {
      height: 40vh;
    }
  }
}
