@import "../../styles/variables";

.latest__section {
  position: relative;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $neutral-lightest;
  padding: 1rem 5%;
  margin: 5rem 0 3rem 0;

  .heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    margin-bottom: 4rem;

    .header__box {
      width: 442px;
      height: 72px;
      text-align: center;
      position: relative;

      .upper_line, .lower_line {
        background-color: #ffae43;
        content: "";
        position: absolute;
        height: 2px;
      }
      .upper_line {
        left: 0;
        top: 0;
        width: 60%;
      }
      .lower_line {
        right: 0;
        bottom: 0;
        width: 60%;
      }

      h2 {
        font-size: 32px;
        color: #333333;
        margin-top: 1rem;
        font-family: "Merriweather", serif;
        font-weight: 700;
      }
    }

    a.see__all {
      display: flex;
      gap: 10px;
      text-decoration: none;

      h3 {
        color: #1d4cbf;
        font-family: "Merriweather", serif;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }

  .news__card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    width: 100%;
    justify-items: center;

    .news {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;
      width: 294px;

      img {
        width: 100%;
        border-radius: 12px;
        object-fit: cover;
      }

      h3 {
        color: #000;
        font-size: 20px;
        font-weight: 700;
        margin-top: 1rem;
        align-self: flex-start;
      }

      p {
        color: #333;
        font-size: 18px;
        font-weight: 400;
        margin-top: 1rem;
        width: 100%;
      }

      span {
        color: #333;
        font-size: 14px;
        font-weight: 400;
        margin-top: 1.5rem;
        align-self: flex-start;
      }
    }
  }

  // Responsiveness
  @media (max-width: 1200px) {
    .heading {
      .header__box h2 {
        font-size: 28px;
      }
      a.see__all h3 {
        font-size: 22px;
      }
    }

    .news__card {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 900px) {
    .heading {
      .header__box h2 {
        font-size: 26px;
      }
      a.see__all h3 {
        font-size: 20px;
      }
    }

    .news__card {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    .heading {
      flex-direction: row;
      text-align: center;
      .header__box {
        width: 60%;
      }
      .header__box h2 {
        font-size: 24px;
      }
      a.see__all {
        justify-content: flex-end;

        h3 {
          font-size: 18px;
        }
      }
    }

    .news__card {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  @media (max-width: 480px) {
    .heading {
      padding: 0 2%;
      .header__box h2 {
        font-size: 20px;
      }
      a.see__all h3 {
        font-size: 16px;
      }
    }

    .news__card {
      gap: 15px;
    }

    .news {
      width: 90%!important;
    }
  }
}
