.serviceCat__section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C4C4C;
    padding: 1rem 5%;
    margin: 1rem 0 5rem 0;



}

