@import "../../styles/variables";


.values__section {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $neutral-lightest;
  padding: 0.5rem 5%;
  margin: 1rem 0 3rem 0;

  .heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .header__box {
      width: 442px;
      height: 72px;
      text-align: center;
      position: relative;

      .upper_line,
      .lower_line {
        background-color: #ffae43;
        content: "";
        position: absolute;
        width: 60%;
        height: 2px;
      }

      .upper_line {
        left: 0;
        top: 0;
      }

      .lower_line {
        right: 0;
        bottom: 0;
      }

      h2 {
        font-size: 32px;
        color: #333333;
        margin-top: 1rem;
        font-family: "Merriweather", serif;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      flex-direction: row; // Align content of each list item horizontally
      justify-content: flex-start; // Align the content to the left
      align-items: flex-start; // Align the items at the top
      gap: 10px; // Space between h3 and p
      margin: 1rem 0;

      h3 {
        color: #666;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
        min-width: 150px; // Give a minimum width to h3 to align with paragraphs
      }

      p {
        color: #666;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        flex: 1; // Allow the paragraph to take the remaining space
        text-align: left;
      }
    }
  }
}
